@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950;
}

* {
  font-family: "VT323", monospace;
  color: white;
  font-optical-sizing: auto;
  font-style: normal;
  pointer-events: visiblePainted;
  image-rendering: pixelated;
}

img {
  will-change: transform;
}
